.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 5rem;
}
.hero {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  position: relative;
}

.section__heroTitle1 {
  color: #4d4d4d;
  letter-spacing: -9px;
}
.section__heroTitle2 {
  letter-spacing: 4px;

  background: linear-gradient(
    0deg,
    rgba(46, 55, 73, 1) 0%,
    rgba(65, 79, 107, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
