.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
  margin: 0 auto;
}
.hero {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  margin-top: 8rem;
}

.section__heroTitle1 {
  color: #4d4d4d;
  letter-spacing: -9px;
  font-size: 8rem;
}
.section__heroTitle2 {
  letter-spacing: 4px;
  font-size: 8rem;
  background: linear-gradient(
    0deg,
    rgba(46, 55, 73, 1) 0%,
    rgba(65, 79, 107, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 900px) {
  .section__heroTitle1,
  .section__heroTitle2 {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 650px) {
  .section__heroTitle1,
  .section__heroTitle2 {
    font-size: 4rem;
    letter-spacing: 0px;
  }
}
@media only screen and (max-width: 450px) {
  .section__heroTitle1,
  .section__heroTitle2 {
    font-size: 3rem;
  }
}

#hero {
  margin-top: 5rem;
}
/* History section */
.history__container,
.team__container {
  max-width: 1440px;
  margin: 5rem auto;
}
.link__num {
  color: #8498bd;
  font-size: 8rem;
  display: inline;
  font-weight: 800;
}
.link__numHeader {
  font-weight: 800;
  display: inline;
  text-transform: uppercase;
  color: #45536f;
  font-size: 2rem;
}
.history__body,
.team__body {
  margin: 1rem 4rem;
  color: #333;
  line-height: 1.5rem;
}

/* Team | climb */

.slider__wrapper {
  background-color: rgba(65, 79, 107, 0.5);
  text-align: center;
  padding: 2rem;
  width: 100%;
  margin-top: 12rem;
}
.team__wrapper {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.climb__title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.team__containter {
  display: flex;
  align-items: center;
}
#team {
  height: auto;
  background-color: rebeccapurple;
}
