nav {
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 100%;
}

.nav__links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
  text-decoration: underline;
  font-size: 1rem;
  color: #fff;
}

.logo {
  border: #ccc 1px solid;
  border-radius: 50%;
}
.sticky {
  /* position: sticky; */
  background-color: #fff;
  margin: 0 auto;
  animation: navfade 0.5s ease;
}

@keyframes navfade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.nav__links--blue {
  color: #414f6b;
  text-decoration: underline;
}
