*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
